
  <div id="doc2" class="yui-t5">
    <div id="hhd">
      <ul id="topnav">
		
      
        <li><a class="login" href="/accounts/login/">Login</a> or <a class="login" href="/accounts/register/">Register</a></li>
      
      
      	
      </ul>

	</div> <!-- /hhd -->
	<div id="hd">
      <h1><a href="/">FaceofNYC</a></h1>
      <ul id="nav">
      	<li class="exhibit"><a href="/pages/exhibit/">Exhibit</a></li>
      	<li class="charities"><a href="/pages/charities/">Charities</a></li>
      	<li class="about"><a href="/pages/about">About</a></li>
      </ul>
    </div> <!-- /hd -->

  <div id="bd">

	<div id="yui-main">
		<div class="yui-b">
		    <div id="facebar">
			   <h1><a href="/pages/exhibit">Faces</a></h1>
			</div> <!-- /facebar -->
			<div id="content">
				

	<h2>What is Face of NYC?</h2>
	<p>Face of NYC is a living, breathing and constantly changing online <b>mosaic art installation</b>, created in a joint effort of
	people related to NYC - people just like you.  We believe that the fabric of New York City is its people, so we are bringing
	those people together through art and charity.  We partner with NY-area charities to allow anyone to participate in the exhibit
	while helping NY causes at the same time.</p>

	<h2>How can I get involved?</h2>
	<p>You can <a href="/upload/">contribute right now</a> by uploading your own photo, and showing your connection to New York City.</p>
	<p>Face of NYC is not just about art - it's about giving back as well.  Do you love this place?  Consider making a charitable donation
	along with your photo upload.  When you upload a photo, you choose a charity to receive the benefit - one that that operates right 
	here in NYC.</p>
	<p>In times like these, your help is needed more than ever.  <a href="/upload/">Join the movement</a>!</p>

	<h2>How does it work?</h2>
	<p>Mosaic art is created by arranging lots of smaller photos over a larger photo, based on their color and brightness characteristics of
	each block.  From far away, the image will look a lot like the original image.  The smaller photos for this exhibit are provided 
	by our donors, people connected to NYC.  Since it takes so many varied images
	to create a good-looking mosaic, we also use filler photos taken throughout NYC by the Artist and other select contributors.</p>
	<p>Smaller photos are collected from donors throughout each week, and the mosaic image is re-generated every weekend.  Using your account login, you
	can find the coordinates of your photo to see where it appears in the art exhibit.  Since more photos mean more variations, the exhibit, 
	as well as more NY charities, will benefit with more contributors.</p>
<!--
	<h3>Nesting a Grid</h3>

	<div class="yui-g">
		<div class="yui-u first">
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
		</div> 
		<div class="yui-u">
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
		</div> 
	</div>	
	-->

		    </div> <!-- /content -->
		</div> <!-- /yui-b -->
	</div> <!-- /yui-main -->
	<div class="yui-b">
	    <div id="contrib">
		    <h2>Recent Contributions</h2>
			
    		
			<table>

    		
    		  <tr>
    		      <td><img src="/images/faces/4.jpg"></td>
    		      <td><img src="/images/faces/3.jpg"></td>
    		      <td><img src="/images/faces/2.jpg"></td>
    		  </tr>
    		
    		  <tr>
    		      <td><img src="/images/faces/1.jpg"></td>
    		      
    		      
    		  </tr>
    		
			 
			</table>
		</div> <!-- /contrib -->
	</div> <!-- /yui-b -->
  </div> <!-- /bd -->

  <div id="ft">
	  <p>faceofnyc.org : Powered by django</p>
  </div> <!-- /ft -->
</div> <!-- /doc2 -->