<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>
			Face of NYC | <%= @title%>
		</title>
		<link rel="stylesheet" href="/stylesheets/main.css" type="text/css" media="screen" /><!-- Combo-handled YUI CSS files: -->
		<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/combo?2.6.0/build/reset-fonts-grids/reset-fonts-grids.css" />
	</head>
	<body>
		<div id="doc2" class="yui-t5">
			<div id="hhd">
				<ul id="topnav">
					<li>
						<a class="login" href="/accounts/login/">Login</a> or <a class="login" href="/accounts/register/">Register</a>
					</li>
				</ul>
			</div><!-- /hhd -->
			<div id="hd">
				<h1>
					<a href="/">FaceofNYC</a>
				</h1>
				<ul id="nav">
					<li class="exhibit">
						<a href="/pages/exhibit/">Exhibit</a>
					</li>
					<li class="charities">
						<a href="/pages/charities/">Charities</a>
					</li>
					<li class="about">
						<a href="/pages/about">About</a>
					</li>
				</ul>
			</div><!-- /hd -->
			<div id="bd">
				<div id="yui-main">
					<div class="yui-b">
						<div id="facebar">
							<h1>
								<a href="/pages/exhibit">Faces</a>
							</h1>
						</div><!-- /facebar -->
						<div id="content">
							<%=yield%>
						</div><!-- /content -->
					</div><!-- /yui-b -->
				</div><!-- /yui-main -->
				<div class="yui-b">
					<div id="contrib">
						<h2>
							Recent Contributions
						</h2>
						<table summary="contributions">
							<tr>
								<td>
									<img src="/images/faces/4.jpg" />
								</td>
								<td>
									<img src="/images/faces/3.jpg" />
								</td>
								<td>
									<img src="/images/faces/2.jpg" />
								</td>
							</tr>
							<tr>
								<td>
									<img src="/images/faces/1.jpg" />
								</td>
							</tr>
						</table>
					</div><!-- /contrib -->
				</div><!-- /yui-b -->
			</div><!-- /bd -->
			<div id="ft">
				<p>
					faceofnyc.org : Powered by django
				</p>
			</div><!-- /ft -->
		</div><!-- /doc2 -->
	</body>
</html>
